<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DynamicCRprinting.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
    
  <userSettings>
    <DynamicCRprinting.My.MySettings>
      <setting name="footerenglish" serializeAs="String">
        <value>Jeddah – Saudi Arabia</value>
      </setting>
      <setting name="footerarabic" serializeAs="String">
        <value>المملكة العربیة السعودية – جدة</value>
      </setting>
      <setting name="to_print" serializeAs="String">
        <value>E:\Users\aamer\Downloads\files\to_print\</value>
      </setting>
      <setting name="done" serializeAs="String">
        <value>E:\Users\aamer\Downloads\files\done\</value>
      </setting>
      <setting name="invoice" serializeAs="String">
        <value>E:\Users\aamer\Downloads\files\invoice\</value>
      </setting>
      <setting name="error_pdf" serializeAs="String">
        <value>E:\Users\aamer\Downloads\files\err\</value>
      </setting>
      <setting name="header" serializeAs="String">
        <value>E:\Users\aamer\Downloads\files\header\</value>
      </setting>
      <setting name="key" serializeAs="String">
        <value>MzExMjYxMTQ4NjAwMDAz</value>
      </setting>
    </DynamicCRprinting.My.MySettings>
  </userSettings>
</configuration>
